{% load static %}<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} | MtG&trade; EVE</title>

    <!-- Custom fonts for this template-->
    <script src="//kit.fontawesome.com/633a42c641.js" crossorigin="anonymous"></script>
    <link href="//fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'eve/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'eve/favicon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'eve/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'eve/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'eve/favicon-16x16.png' %}">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'eve:index' %}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">MtG&trade; EVE</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        {% with request.resolver_match.view_name as view_name %}
            <!-- Nav Item - Dashboard -->
            <li class="nav-item{% if view_name == 'eve:index' %} active{% endif %}">
                <a class="nav-link" href="{% url 'eve:index' %}">
                    <i class="fas fa-fw fa-book"></i><span>Rules</span></a>
            </li>
            <li class="nav-item{% if view_name == 'eve:decks' %} active{% endif %}">
                <a class="nav-link" href="{% url 'eve:decks' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i><span>Decks</span></a>
            </li>
            <li class="nav-item{% if view_name == 'eve:matches' %} active{% endif %}">
                <a class="nav-link" href="{% url 'eve:matches' %}">
                    <i class="fas fa-fw fa-gamepad"></i><span>Matches</span>
                </a>
            </li>
            <li class="nav-item{% if view_name == 'eve:stats' %} active{% endif %}">
                <a class="nav-link" href="{% url 'eve:stats' %}">
                    <i class="fas fa-fw fa-chart-area"></i><span>Stats</span>
                </a>
            </li>
        {% endwith %}

        <!-- Divider -->
        <hr class="sidebar-divider">


        <li class="nav-item{% if view_name == 'eve:games' %} active{% endif %}">
            <a class="nav-link" href="mailto:mtg.eve@gmail.com">
                <i class="fas fa-envelope"></i><span>Contact</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0 text-gray-500" id="sidebarToggle">
                <i class="fas fa-angle-left"></i>
                <i class="fas fa-angle-right"></i>
            </button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white  mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="d-none d-md-block">
                    <h1>Magic the Gathering: II.V format (EVE)</h1>

                    <p>Play any Type II (Standard) deck from across whole MtG™ timeline!</p>
                </div>
                <div class="d-md-none">
                    <h1>MtG: EVE</h1>
                </div>
            </nav>


            <div class="container-fluid mt-4">
                {% block content %}


                {% endblock %}
            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; MtG&trade; EVE 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'eve/js/sb-admin-2.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

{% block javascript %}{% endblock %}

</body>

</html>