{% extends "base.html" %}

{% load eve_filters %}

{% block title %}Decks{% endblock %}

{% block content %}
    <h2>Decks</h2>

    <div class="row">
        {% for deck in object_list %}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="{{ deck.aetherhub_url }}">{{ deck.name }}</a>
                                    {% if deck.year %}
                                        <small><code>{{ deck.year }}</code></small>
                                    {% endif %}
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="mb-0 mr-3 font-weight-bold text-gray-800">{{ deck.win_loss_ratio|percent }}%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div
                                                    class="progress-bar {% if deck.win_loss_ratio > 0.7 %}bg-success{% elif deck.win_loss_ratio < 0.3 %}bg-danger{% elif deck.win_loss_ratio < 0.4 %}bg-warning{% endif %}"
                                                    role="progressbar"
                                                    style="width: {{ deck.win_loss_ratio|percent }}%"></div>
                                        </div>
                                    </div>
                                    <div class="mb-0 ml-1 font-weight-bold text-gray-800">
                                        {{ deck.game_wins }}&ndash;{{ deck.game_losses }}&ndash;{{ deck.game_draws }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {% if deck.image_url %}
                                            <a href="{{ deck.aetherhub_url }}">
                                                <img class="img-fluid img-thumbnail w-100" src="{{ deck.image_url }}" alt="[ DECK IMG ]">
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        <canvas class="w-100" id="pie-deck-{{ deck.id }}"></canvas>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {% for deck in object_list %}
            new Chart(document.getElementById('pie-deck-{{ deck.id }}').getContext('2d'), {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [{{ deck.matches_2_0 }}, {{ deck.matches_2_1 }}, {{ deck.matches_1_2 }}, {{ deck.matches_0_2 }}, {{ deck.matches_rest }}],
                        backgroundColor: ["#1cc88a", "#a0c858", "#e79536", '#e74a3b', '#858796'],
                    }],
                    labels: [
                        '2:0s',
                        '2:1s',
                        '1:2s',
                        '0:2s',
                        'rest',
                    ],
                },
                options: {
                    legend: {
                        display: false
                    }
                }
            });
        {% endfor %}
    </script>
{% endblock %}