{% extends "base.html" %}

{% load eve_filters %}

{% block title %}Matches{% endblock %}

{% block content %}
    <h2>Matches</h2>

    <table class="table table-bordered data-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>First Player</th>
            <th>Second Player</th>
            <th>First Deck</th>
            <th>Second Deck</th>
            <th>Win&ndash;Loss&ndash;Draw</th>
        </tr>
        </thead>
        <tbody>
        {% for match in object_list %}
            <tr>
                <td data-order="{{ match.created|date:"U" }}">{{ match.created }}</td>
                <td>{{ match.first_player | default_if_none:"&mdash;" }}</td>
                <td>{{ match.second_player | default_if_none:"&mdash;" }}</td>
                <td>
                    {{ match.first_deck.name }}
                    {% if match.first_deck.year %}
                        <code>{{ match.first_deck.year }}</code>
                    {% endif %}
                </td>
                <td>
                    {{ match.second_deck.name }}
                    {% if match.second_deck.year %}
                        <code>{{ match.second_deck.year }}</code>
                    {% endif %}
                </td>
                <td>
                    {{ match.first_wins }}&ndash;{{ match.second_wins }}&ndash;{{ match.draws }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.data-table').DataTable();
        });
    </script>
{% endblock %}