{% extends "base.html" %}

{% load eve_filters %}
{% load static %}

{% block title %}Rules{% endblock %}

{% block content %}
    <h2>Rules</h2>

    <p>Basic idea of this format is to be able to play decks from Type II (now Standard) across the whole MtG timeline.</p>

    <p>Most matches are played as Best of 1 as there is no real way to prepare sideboard. Any “Ante” and “Dexterity” cards are banned implicitly. See below for
        details.</p>

    <h3>Legal combinations</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Era</th>
            <th>Core Set(s)</th>
            <th>Expansions</th>
            <th>Banned list</th>
            <th>Staples</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>The Dark</strong><br/>(Jan ‘95 to Jun ‘95)</td>
            <td><a href="https://scryfall.com/sets/3ed">
                <img src="{% static 'eve/icons/3E.png' %}" alt="3E" width="21" height="21"/> Revised
            </a><br/><em>or</em><br/> <a href="https://scryfall.com/sets/4ed">
                <img src="{% static 'eve/icons/4E.png' %}" alt="4E" width="21" height="21"/> 4th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/dk">
                <img src="{% static 'eve/icons/DK.png' %}" alt="DK" width="21" height="21"/> The Dark
            </a>
                <br/>
                <a href="https://scryfall.com/sets/fem">
                    <img src="{% static 'eve/icons/FE.png' %}" alt="FE" width="21" height="21"/> Fallen Empires
                </a></td>
            <td><strong>Restricted:</strong><br/>Balance<br/>Channel<br/>Copy Artifact<br/>Demonic Tutor<br/>Fork<br/>Ivory Tower<br/>Mind
                Twist<br/>Regrowth<br/>Sol Ring<br/>Wheel of Fortune<br/>all legends (“Summon Legends” or “Legendary Land”)
            </td>
            <td><a href="https://aetherhub.com/Deck/Public/175747">Vise Age
            </a></td>
        </tr>
        <tr>
            <td><strong>Fallen Empires</strong><br/>(Jun ‘95 to Dec ‘96)<br/><em>“Necro Summer”</em></td>
            <td><a href="https://scryfall.com/sets/4ed">
                <img src="{% static 'eve/icons/4E.png' %}" alt="4E" width="21" height="21"/> 4th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/chr">
                <img src="{% static 'eve/icons/CH.png' %}" alt="CH" width="21" height="21"/> Chronicles
            </a>
                <br/>
                <a href="https://scryfall.com/sets/fem">
                    <img src="{% static 'eve/icons/FE.png' %}" alt="FE" width="21" height="21"/> Fallen Empires
                </a>
                <br/>
                <a href="https://scryfall.com/sets/ice">
                    <img src="{% static 'eve/icons/IA.png' %}" alt="IA" width="21" height="21"/> Ice Age
                </a>
                <br/>
                <a href="https://scryfall.com/sets/hml">
                    <img src="{% static 'eve/icons/HM.png' %}" alt="HM" width="21" height="21"/> Homelands
                </a>
                <br/>
                <a href="https://scryfall.com/sets/al">
                    <img src="{% static 'eve/icons/AL.png' %}" alt="AL" width="21" height="21"/> Alliances
                </a>
                <br/>
                <a href="https://scryfall.com/sets/mir">
                    <img src="{% static 'eve/icons/MI.png' %}" alt="MI" width="21" height="21"/> Mirage
                </a></td>
            <td><strong>Banned:</strong><br/>Channel<br/>Mind Twist<br/><br/><strong>Restricted:</strong><br/>Balance<br/>Black Vise<br/>Hymn to Tourach<br/>Ivory
                Tower<br/>Feldon’s Cane<br/>Land Tax<br/>Recall<br/>Strip Mine<br/>Zuran Orb
            </td>
            <td><a href="https://aetherhub.com/Deck/Public/175750">Necropotence
            </a> (<a href="https://aetherhub.com/Deck/Public/205349">2</a>)<br/><a href="https://aetherhub.com/Deck/Public/199607">Tommi Hovi’s Turbo Stasis
            </a> (<a href="https://aetherhub.com/Deck/Public/199605">2</a>)
            </td>
        </tr>
        <tr>
            <td><strong>Chronicles</strong> – <strong>Mirage<br/></strong>(Jan ‘96 to Apr ‘97)</td>
            <td><a href="https://scryfall.com/sets/4ed">
                <img src="{% static 'eve/icons/4E.png' %}" alt="4E" width="21" height="21"/> 4th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/chr">
                <img src="{% static 'eve/icons/CH.png' %}" alt="CH" width="21" height="21"/> Chronicles
            </a>
                <br/>
                <a href="https://scryfall.com/sets/hml">
                    <img src="{% static 'eve/icons/HM.png' %}" alt="HM" width="21" height="21"/> Homelands
                </a>
                <br/>
                <a href="https://scryfall.com/sets/al">
                    <img src="{% static 'eve/icons/AL.png' %}" alt="AL" width="21" height="21"/> Alliances
                </a>
                <br/>
                <a href="https://scryfall.com/sets/mir">
                    <img src="{% static 'eve/icons/MI.png' %}" alt="MI" width="21" height="21"/> Mirage
                </a>
                <br/>
                <a href="https://scryfall.com/sets/vi">
                    <img src="{% static 'eve/icons/VI.png' %}" alt="VI" width="21" height="21"/> Visions
                </a></td>
            <td>Balance<br/>Black Vise<br/>Channel<br/>Ivory Tower<br/>Land Tax<br/>Mind Twist<br/>Strip Mine</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Ice Age</strong> – <strong>Mirage</strong><br/>(Apr ‘97 to Oct ‘97)</td>
            <td><a href="https://scryfall.com/sets/5ed">
                <img src="{% static 'eve/icons/5E.png' %}" alt="5E" width="21" height="21"/> 5th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/ice">
                <img src="{% static 'eve/icons/IA.png' %}" alt="IA" width="21" height="21"/> Ice Age
            </a>
                <br/>
                <a href="https://scryfall.com/sets/hml">
                    <img src="{% static 'eve/icons/HM.png' %}" alt="HM" width="21" height="21"/> Homelands
                </a>
                <br/>
                <a href="https://scryfall.com/sets/al">
                    <img src="{% static 'eve/icons/AL.png' %}" alt="AL" width="21" height="21"/> Alliances
                </a>
                <br/>
                <a href="https://scryfall.com/sets/mir">
                    <img src="{% static 'eve/icons/MI.png' %}" alt="MI" width="21" height="21"/> Mirage
                </a>
                <br/>
                <a href="https://scryfall.com/sets/vi">
                    <img src="{% static 'eve/icons/VI.png' %}" alt="VI" width="21" height="21"/> Visions
                </a>
                <br/>
                <a href="https://scryfall.com/sets/wl">
                    <img src="{% static 'eve/icons/WL.png' %}" alt="WL" width="21" height="21"/> Weatherlight
                </a></td>
            <td>—</td>
            <td><a href="https://aetherhub.com/Deck/Public/175852">Jakub Šlemr’s Black Weenie
            </a>
                <br/>
                <a href="https://aetherhub.com/Deck/Public/175845">Jon
                    Finkel’s Counter-Post
                </a>
                <br/>
                <a href="https://aetherhub.com/Deck/Public/175755">Svend Geertsen’s Green Stompy
                </a></td>
        </tr>
        <tr>
            <td><strong>Mirage</strong> – <strong>Tempest</strong><br/>(Nov ‘97 to Oct ‘98)</td>
            <td><a href="https://scryfall.com/sets/5ed">
                <img src="{% static 'eve/icons/5E.png' %}" alt="5E" width="21" height="21"/> 5th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/mir">
                <img src="{% static 'eve/icons/MI.png' %}" alt="MI" width="21" height="21"/> Mirage
            </a>
                <br/>
                <a href="https://scryfall.com/sets/vi">
                    <img src="{% static 'eve/icons/VI.png' %}" alt="VI" width="21" height="21"/> Visions
                </a>
                <br/>
                <a href="https://scryfall.com/sets/wl">
                    <img src="{% static 'eve/icons/WL.png' %}" alt="WL" width="21" height="21"/> Weatherlight
                </a>
                <br/>
                <a href="https://scryfall.com/sets/tmp">
                    <img src="{% static 'eve/icons/TE.png' %}" alt="TE" width="21" height="21"/> Tempest
                </a>
                <br/>
                <a href="https://scryfall.com/sets/sth">
                    <img src="{% static 'eve/icons/ST.png' %}" alt="ST" width="21" height="21"/> Stronghold
                </a>
                <br/>
                <a href="https://scryfall.com/sets/ex">
                    <img src="{% static 'eve/icons/EX.png' %}" alt="EX" width="21" height="21"/> Exodus
                </a></td>
            <td>—</td>
            <td><a href="https://aetherhub.com/Deck/Public/176326">Seth Burn’s “Pooh Burn”
            </a>
                <br/>
                <a href="https://aetherhub.com/Deck/Public/176333">Randy
                    Buehler’s Draw-Go
                </a></td>
        </tr>
        <tr>
            <td><strong>Tempest</strong> – <strong>Urza</strong><br/>(Nov ‘98 to Oct ‘99)<br/><em>“Combo Winter”</em></td>
            <td><a href="https://scryfall.com/sets/5ed">
                <img src="{% static 'eve/icons/5E.png' %}" alt="5E" width="21" height="21"/> 5th Edition
            </a><br/><em>or</em><br/> <a href="https://scryfall.com/sets/6ed">
                <img src="{% static 'eve/icons/6E.png' %}" alt="6E" width="21" height="21"/> 6th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/tmp">
                <img src="{% static 'eve/icons/TE.png' %}" alt="TE" width="21" height="21"/> Tempest
            </a>
                <br/>
                <a href="https://scryfall.com/sets/sth">
                    <img src="{% static 'eve/icons/ST.png' %}" alt="ST" width="21" height="21"/> Stronghold
                </a>
                <br/>
                <a href="https://scryfall.com/sets/ex">
                    <img src="{% static 'eve/icons/EX.png' %}" alt="EX" width="21" height="21"/> Exodus
                </a>
                <br/>
                <a href="https://scryfall.com/sets/usg">
                    <img src="{% static 'eve/icons/UZ.png' %}" alt="UZ" width="21" height="21"/> Urza’s Saga
                </a>
                <br/>
                <a href="https://scryfall.com/sets/ulg">
                    <img src="{% static 'eve/icons/GU.png' %}" alt="GU" width="21" height="21"/> Urza’s Legacy
                </a>
                <br/>
                <a href="https://scryfall.com/sets/uds">
                    <img src="{% static 'eve/icons/CG.png' %}" alt="CG" width="21" height="21"/> Urza’s Destiny
                </a></td>
            <td>Dream Halls<br/>Earthcraft<br/>Fluctuator<br/>Lotus Petal<br/>Mind Over Matter<br/>Memory Jar<br/>Recurring Nightmare<br/>Time Spiral<br/>Tolarian
                Academy<br/>Windfall
            </td>
            <td><a href="https://aetherhub.com/Deck/Public/205353">White Weenie
            </a>
                <br/>
                <a href="https://aetherhub.com/Deck/Public/204869">5e
                    Necropotence
                </a>
                <br/>
                <a href="https://aetherhub.com/Deck/Public/175734">Matt Linde’s Green Stompy
                </a></td>
        </tr>
        <tr>
            <td><strong>Urza</strong> – <strong>Masques</strong><br/>(Nov ‘99 to Oct ‘00)</td>
            <td><a href="https://scryfall.com/sets/6ed">
                <img src="{% static 'eve/icons/6E.png' %}" alt="6E" width="21" height="21"/> 6th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/usg">
                <img src="{% static 'eve/icons/UZ.png' %}" alt="UZ" width="21" height="21"/> Urza’s Saga
            </a>
                <br/>
                <a href="https://scryfall.com/sets/ulg">
                    <img src="{% static 'eve/icons/GU.png' %}" alt="GU" width="21" height="21"/> Urza’s Legacy
                </a>
                <br/>
                <a href="https://scryfall.com/sets/uds">
                    <img src="{% static 'eve/icons/CG.png' %}" alt="CG" width="21" height="21"/> Urza’s Destiny
                </a>
                <br/>
                <a href="https://scryfall.com/sets/mmq">
                    <img src="{% static 'eve/icons/MM.png' %}" alt="MM" width="21" height="21"/> Mercadian Masques
                </a>
                <br/>
                <a href="https://scryfall.com/sets/nem">
                    <img src="{% static 'eve/icons/NE.png' %}" alt="NE" width="21" height="21"/> Nemesis
                </a>
                <br/>
                <a href="https://scryfall.com/sets/pcy">
                    <img src="{% static 'eve/icons/PR.png' %}" alt="PR" width="21" height="21"/> Prophecy
                </a></td>
            <td>Fluctuator<br/>Memory Jar<br/>Time Spiral<br/>Tolarian Academy<br/>Windfall</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Masques</strong> – <strong>Invasion</strong><br/>(Nov ‘00 to Oct ‘01)</td>
            <td><a href="https://scryfall.com/sets/6ed">
                <img src="{% static 'eve/icons/6E.png' %}" alt="6E" width="21" height="21"/> 6th Edition
            </a><br/><em>or</em><br/><a href="https://scryfall.com/sets/7ed">
                <img src="{% static 'eve/icons/7E.png' %}" alt="7E" width="21" height="21"/> 7th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/mmq">
                <img src="{% static 'eve/icons/MM.png' %}" alt="MM" width="21" height="21"/> Mercadian Masques
            </a>
                <br/>
                <a href="https://scryfall.com/sets/nem">
                    <img src="{% static 'eve/icons/NE.png' %}" alt="NE" width="21" height="21"/> Nemesis
                </a>
                <br/>
                <a href="https://scryfall.com/sets/pcy">
                    <img src="{% static 'eve/icons/PR.png' %}" alt="PR" width="21" height="21"/> Prophecy
                </a>
                <br/>
                <a href="https://scryfall.com/sets/inv">
                    <img src="{% static 'eve/icons/IN.png' %}" alt="IN" width="21" height="21"/> Invasion
                </a>
                <br/>
                <a href="https://scryfall.com/sets/pls">
                    <img src="{% static 'eve/icons/PS.png' %}" alt="PS" width="21" height="21"/> Planeshift
                </a>
                <br/>
                <a href="https://scryfall.com/sets/apc">
                    <img src="{% static 'eve/icons/AP.png' %}" alt="AP" width="21" height="21"/> Apocalypse
                </a></td>
            <td>—</td>
            <td><a href="https://aetherhub.com/Deck/Public/264570">Counter-Rebels</a></td>
        </tr>
        <tr>
            <td><strong>Invasion</strong> – <strong>Oddysey</strong><br/>(Nov ‘01 to Oct ‘02)</td>
            <td><a href="https://scryfall.com/sets/7ed">
                <img src="{% static 'eve/icons/7E.png' %}" alt="7E" width="21" height="21"/> 7th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/inv">
                <img src="{% static 'eve/icons/IN.png' %}" alt="IN" width="21" height="21"/> Invasion
            </a>
                <br/>
                <a href="https://scryfall.com/sets/pls">
                    <img src="{% static 'eve/icons/PS.png' %}" alt="PS" width="21" height="21"/> Planeshift
                </a>
                <br/>
                <a href="https://scryfall.com/sets/apc">
                    <img src="{% static 'eve/icons/AP.png' %}" alt="AP" width="21" height="21"/> Apocalypse
                </a>
                <br/>
                <a href="https://scryfall.com/sets/ody">
                    <img src="{% static 'eve/icons/OD.png' %}" alt="OD" width="21" height="21"/> Odyssey
                </a>
                <br/>
                <a href="https://scryfall.com/sets/tor">
                    <img src="{% static 'eve/icons/TOR.png' %}" alt="TOR" width="21" height="21"/> Torment
                </a>
                <br/>
                <a href="https://scryfall.com/sets/jud">
                    <img src="{% static 'eve/icons/JUD.png' %}" alt="JUD" width="21" height="21"/> Judgment
                </a></td>
            <td>—</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Oddysey</strong> – <strong>Onslaught</strong><br/>(Nov ‘02 to Oct ‘03)</td>
            <td><a href="https://scryfall.com/sets/7ed">
                <img src="{% static 'eve/icons/7E.png' %}" alt="7E" width="21" height="21"/> 7th Edition
            </a><br/><em>or</em><br/><a href="https://scryfall.com/sets/8ed">
                <img src="{% static 'eve/icons/8ED.png' %}" alt="8ED" width="21" height="21"/> 8th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/ody">
                <img src="{% static 'eve/icons/OD.png' %}" alt="OD" width="21" height="21"/> Odyssey
            </a>
                <br/>
                <a href="https://scryfall.com/sets/tor">
                    <img src="{% static 'eve/icons/TOR.png' %}" alt="TOR" width="21" height="21"/> Torment
                </a>
                <br/>
                <a href="https://scryfall.com/sets/jud">
                    <img src="{% static 'eve/icons/JUD.png' %}" alt="JUD" width="21" height="21"/> Judgment
                </a>
                <br/>
                <a href="https://scryfall.com/sets/ons">
                    <img src="{% static 'eve/icons/ONS.png' %}" alt="ONS" width="21" height="21"/> Onslaught
                </a>
                <br/>
                <a href="https://scryfall.com/sets/lgn">
                    <img src="{% static 'eve/icons/LGN.png' %}" alt="LGN" width="21" height="21"/> Legions
                </a>
                <br/>
                <a href="https://scryfall.com/sets/scg">
                    <img src="{% static 'eve/icons/SCG.png' %}" alt="SCG" width="21" height="21"/> Scourge
                </a></td>
            <td>—</td>
            <td><a href="https://aetherhub.com/Deck/Public/177783">UG Madness
            </a>
                <br/>
                <a href="https://aetherhub.com/Deck/Public/177954">Goblins
                </a></td>
        </tr>
        <tr>
            <td><strong>Onslaught</strong> – <strong>Mirrodin</strong><br/>(Nov ‘03 to Oct ‘04)</td>
            <td><a href="https://scryfall.com/sets/8ed">
                <img src="{% static 'eve/icons/8ED.png' %}" alt="8ED" width="21" height="21"/> 8th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/ons">
                <img src="{% static 'eve/icons/ONS.png' %}" alt="ONS" width="21" height="21"/> Onslaught
            </a>
                <br/>
                <a href="https://scryfall.com/sets/lgn">
                    <img src="{% static 'eve/icons/LGN.png' %}" alt="LGN" width="21" height="21"/> Legions
                </a>
                <br/>
                <a href="https://scryfall.com/sets/scg">
                    <img src="{% static 'eve/icons/SCG.png' %}" alt="SCG" width="21" height="21"/> Scourge
                </a>
                <br/>
                <a href="https://scryfall.com/sets/mrd">
                    <img src="{% static 'eve/icons/MRD.png' %}" alt="MRD" width="21" height="21"/> Mirrodin
                </a>
                <br/>
                <a href="https://scryfall.com/sets/dst">
                    <img src="{% static 'eve/icons/DST.png' %}" alt="DST" width="21" height="21"/> Darksteel
                </a>
                <br/>
                <a href="https://scryfall.com/sets/5dn">
                    <img src="{% static 'eve/icons/5DN.png' %}" alt="5DN" width="21" height="21"/> Fifth Dawn
                </a></td>
            <td>Skullclamp</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Mirrodin</strong> – <strong>Kamigawa</strong><br/>(Nov ‘04 to Oct ‘05)</td>
            <td><a href="https://scryfall.com/sets/8ed">
                <img src="{% static 'eve/icons/8ED.png' %}" alt="8ED" width="21" height="21"/> 8th Edition
            </a><br/><em>or</em><br/><a href="https://scryfall.com/sets/9ed">
                <img src="{% static 'eve/icons/9ED.png' %}" alt="9ED" width="21" height="21"/> 9th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/mrd">
                <img src="{% static 'eve/icons/MRD.png' %}" alt="MRD" width="21" height="21"/> Mirrodin
            </a>
                <br/>
                <a href="https://scryfall.com/sets/dst">
                    <img src="{% static 'eve/icons/DST.png' %}" alt="DST" width="21" height="21"/> Darksteel
                </a>
                <br/>
                <a href="https://scryfall.com/sets/5dn">
                    <img src="{% static 'eve/icons/5DN.png' %}" alt="5DN" width="21" height="21"/> Fifth Dawn
                </a>
                <br/>
                <a href="https://scryfall.com/sets/chk">
                    <img src="{% static 'eve/icons/CHK.png' %}" alt="CHK" width="21" height="21"/> Champions of Kamigawa
                </a>
                <br/>
                <a href="https://scryfall.com/sets/bok">
                    <img src="{% static 'eve/icons/BOK.png' %}" alt="BOK" width="21" height="21"/> Betrayers of Kamigawa
                </a>
                <br/>
                <a href="https://scryfall.com/sets/sok">
                    <img src="{% static 'eve/icons/SOK.png' %}" alt="SOK" width="21" height="21"/> Saviors of Kamigawa
                </a></td>
            <td>Ancient Den,Arcbound Ravager<br/>Darksteel Citadel<br/>Disciple of the Vault<br/>Great Furnace<br/>Seat of the Synod<br/>Skullclamp<br/>Tree of
                Tales<br/>Vault of Whispers
            </td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Kamigawa</strong> – <strong>Ravnica</strong><br/>(Nov ‘05 to Oct ‘06)</td>
            <td><a href="https://scryfall.com/sets/9ed">
                <img src="{% static 'eve/icons/9ED.png' %}" alt="9ED" width="21" height="21"/> 9th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/chk">
                <img src="{% static 'eve/icons/CHK.png' %}" alt="CHK" width="21" height="21"/> Champions of Kamigawa
            </a>
                <br/>
                <a href="https://scryfall.com/sets/bok">
                    <img src="{% static 'eve/icons/BOK.png' %}" alt="BOK" width="21" height="21"/> Betrayers of Kamigawa
                </a>
                <br/>
                <a href="https://scryfall.com/sets/sok">
                    <img src="{% static 'eve/icons/SOK.png' %}" alt="SOK" width="21" height="21"/> Saviors of Kamigawa
                </a>
                <br/>
                <a href="https://scryfall.com/sets/rav">
                    <img src="{% static 'eve/icons/RAV.png' %}" alt="RAV" width="21" height="21"/> Ravnica: City of Guilds
                </a>
                <br/>
                <a href="https://scryfall.com/sets/gpt">
                    <img src="{% static 'eve/icons/GPT.png' %}" alt="GPT" width="21" height="21"/> Guildpact
                </a>
                <br/>
                <a href="https://scryfall.com/sets/dis">
                    <img src="{% static 'eve/icons/DIS.png' %}" alt="DIS" width="21" height="21"/> Dissension
                </a>
                <br/>
                <a href="https://scryfall.com/sets/csp">
                    <img src="{% static 'eve/icons/CSP.png' %}" alt="CSP" width="21" height="21"/> Coldsnap
                </a></td>
            <td>—</td>
            <td><a href="https://aetherhub.com/Deck/Public/178018">Solar Flare
            </a></td>
        </tr>
        <tr>
            <td><strong>Ravnica</strong> – <strong>Time Spiral</strong><br/>(Nov ‘06 to Oct ‘07)</td>
            <td><a href="https://scryfall.com/sets/9ed">
                <img src="{% static 'eve/icons/9ED.png' %}" alt="9ED" width="21" height="21"/> 9th Edition
            </a><br/><em>or</em><br/><a href="https://scryfall.com/sets/10e">
                <img src="{% static 'eve/icons/10E.png' %}" alt="10E" width="21" height="21"/> 10th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/rav">
                <img src="{% static 'eve/icons/RAV.png' %}" alt="RAV" width="21" height="21"/> Ravnica: City of Guilds
            </a>
                <br/>
                <a href="https://scryfall.com/sets/gpt">
                    <img src="{% static 'eve/icons/GPT.png' %}" alt="GPT" width="21" height="21"/> Guildpact
                </a>
                <br/>
                <a href="https://scryfall.com/sets/dis">
                    <img src="{% static 'eve/icons/DIS.png' %}" alt="DIS" width="21" height="21"/> Dissension
                </a>
                <br/>
                <a href="https://scryfall.com/sets/csp">
                    <img src="{% static 'eve/icons/CSP.png' %}" alt="CSP" width="21" height="21"/> Coldsnap
                </a>
                <br/>
                <a href="https://scryfall.com/sets/tsp">
                    <img src="{% static 'eve/icons/TSP.png' %}" alt="TSP" width="21" height="21"/> Time Spiral
                </a>
                <br/>
                <a href="https://scryfall.com/sets/plc">
                    <img src="{% static 'eve/icons/PLC.png' %}" alt="PLC" width="21" height="21"/> Planar Chaos
                </a>
                <br/>
                <a href="https://scryfall.com/sets/fut">
                    <img src="{% static 'eve/icons/FUT.png' %}" alt="FUT" width="21" height="21"/> Future Sight
                </a></td>
            <td>—</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Time Spiral</strong> – <strong>Lorwyn/Shadowmoor</strong><br/>(Nov ‘07 to Oct ‘08)</td>
            <td><a href="https://scryfall.com/sets/10e">
                <img src="{% static 'eve/icons/10E.png' %}" alt="10E" width="21" height="21"/> 10th Edition
            </a></td>
            <td><a href="https://scryfall.com/sets/csp">
                <img src="{% static 'eve/icons/CSP.png' %}" alt="CSP" width="21" height="21"/> Coldsnap
            </a>
                <br/>
                <a href="https://scryfall.com/sets/tsp">
                    <img src="{% static 'eve/icons/TSP.png' %}" alt="TSP" width="21" height="21"/> Time Spiral
                </a>
                <br/>
                <a href="https://scryfall.com/sets/plc">
                    <img src="{% static 'eve/icons/PLC.png' %}" alt="PLC" width="21" height="21"/> Planar Chaos
                </a>
                <br/>
                <a href="https://scryfall.com/sets/fut">
                    <img src="{% static 'eve/icons/FUT.png' %}" alt="FUT" width="21" height="21"/> Future Sight
                </a>
                <br/>
                <a href="https://scryfall.com/sets/lrw">
                    <img src="{% static 'eve/icons/LRW.png' %}" alt="LRW" width="21" height="21"/> Lorwyn
                </a>
                <br/>
                <a href="https://scryfall.com/sets/mor">
                    <img src="{% static 'eve/icons/MOR.png' %}" alt="MOR" width="21" height="21"/> Morningtide
                </a>
                <br/>
                <a href="https://scryfall.com/sets/shm">
                    <img src="{% static 'eve/icons/SHM.png' %}" alt="SHM" width="21" height="21"/> Shadowmoor
                </a>
                <br/>
                <a href="https://scryfall.com/sets/eve">
                    <img src="{% static 'eve/icons/EVE.png' %}" alt="EVE" width="21" height="21"/> Eventide
                </a></td>
            <td>—</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Lorwyn/Shadowmoor</strong> – <strong>Alara</strong><br/>(Nov ‘08 to Oct ‘09)</td>
            <td><a href="https://scryfall.com/sets/10e">
                <img src="{% static 'eve/icons/10E.png' %}" alt="10E" width="21" height="21"/> 10th Edition
            </a><br/><em>or</em><br/><a href="https://scryfall.com/sets/m10">
                <img src="{% static 'eve/icons/M10.png' %}" alt="M10" width="21" height="21"/> M10
            </a></td>
            <td><a href="https://scryfall.com/sets/lrw">
                <img src="{% static 'eve/icons/LRW.png' %}" alt="LRW" width="21" height="21"/> Lorwyn
            </a>
                <br/>
                <a href="https://scryfall.com/sets/mor">
                    <img src="{% static 'eve/icons/MOR.png' %}" alt="MOR" width="21" height="21"/> Morningtide
                </a>
                <br/>
                <a href="https://scryfall.com/sets/shm">
                    <img src="{% static 'eve/icons/SHM.png' %}" alt="SHM" width="21" height="21"/> Shadowmoor
                </a>
                <br/>
                <a href="https://scryfall.com/sets/eve">
                    <img src="{% static 'eve/icons/EVE.png' %}" alt="EVE" width="21" height="21"/> Eventide
                </a>
                <br/>
                <a href="https://scryfall.com/sets/ala">
                    <img src="{% static 'eve/icons/ALA.png' %}" alt="ALA" width="21" height="21"/> Shards of Alara
                </a>
                <br/>
                <a href="https://scryfall.com/sets/con">
                    <img src="{% static 'eve/icons/CON_.png' %}" alt="CON_" width="21" height="21"/> Conflux
                </a>
                <br/>
                <a href="https://scryfall.com/sets/arb">
                    <img src="{% static 'eve/icons/ARB.png' %}" alt="ARB" width="21" height="21"/> Alara Reborn
                </a></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Alara</strong> – <strong>Zendikar</strong><br/>(Nov ‘09 to Sep ‘10)</td>
            <td><a href="https://scryfall.com/sets/m10">
                <img src="{% static 'eve/icons/M10.png' %}" alt="M10" width="21" height="21"/> M10
            </a><br/><em>and</em><br/><a href="https://scryfall.com/sets/m11">
                <img src="{% static 'eve/icons/M11.png' %}" alt="M11" width="21" height="21"/> M11
            </a></td>
            <td><a href="https://scryfall.com/sets/ala">
                <img src="{% static 'eve/icons/ALA.png' %}" alt="ALA" width="21" height="21"/> Shards of Alara
            </a>
                <br/>
                <a href="https://scryfall.com/sets/con">
                    <img src="{% static 'eve/icons/CON_.png' %}" alt="CON_" width="21" height="21"/> Conflux
                </a>
                <br/>
                <a href="https://scryfall.com/sets/arb">
                    <img src="{% static 'eve/icons/ARB.png' %}" alt="ARB" width="21" height="21"/> Alara Reborn
                </a>
                <br/>
                <a href="https://scryfall.com/sets/zen">
                    <img src="{% static 'eve/icons/ZEN.png' %}" alt="ZEN" width="21" height="21"/> Zendikar
                </a>
                <br/>
                <a href="https://scryfall.com/sets/wwk">
                    <img src="{% static 'eve/icons/WWK.png' %}" alt="WWK" width="21" height="21"/> Worldwake
                </a>
                <br/>
                <a href="https://scryfall.com/sets/roe">
                    <img src="{% static 'eve/icons/ROE.png' %}" alt="ROE" width="21" height="21"/> Rise of the Eldrazi
                </a></td>
            <td>—</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Zendikar</strong> – <strong>Scars of Mirrodin</strong><br/>(Oct ‘10 to Sep ‘11)</td>
            <td><a href="https://scryfall.com/sets/m11">
                <img src="{% static 'eve/icons/M11.png' %}" alt="M11" width="21" height="21"/> M11
            </a><br/><em>and</em><br/><a href="https://scryfall.com/sets/m12">
                <img src="{% static 'eve/icons/M12.png' %}" alt="M12" width="21" height="21"/> M12</a></td>
            <td><a href="https://scryfall.com/sets/zen">
                <img src="{% static 'eve/icons/ZEN.png' %}" alt="ZEN" width="21" height="21"/> Zendikar
            </a>
                <br/>
                <a href="https://scryfall.com/sets/wwk">
                    <img src="{% static 'eve/icons/WWK.png' %}" alt="WWK" width="21" height="21"/> Worldwake
                </a>
                <br/>
                <a href="https://scryfall.com/sets/roe">
                    <img src="{% static 'eve/icons/ROE.png' %}" alt="ROE" width="21" height="21"/> Rise of the Eldrazi
                </a>
                <br/>
                <a href="https://scryfall.com/sets/som">
                    <img src="{% static 'eve/icons/SOM.png' %}" alt="SOM" width="21" height="21"/> Scars of Mirrodin
                </a>
                <br/>
                <a href="https://scryfall.com/sets/mbs">
                    <img src="{% static 'eve/icons/MBS.png' %}" alt="MBS" width="21" height="21"/> Mirrodin Besieged
                </a>
                <br/>
                <a href="https://scryfall.com/sets/nph">
                    <img src="{% static 'eve/icons/NPH.png' %}" alt="NPH" width="21" height="21"/> New Phyrexia
                </a></td>
            <td>Jace, the Mind Sculptor<br/>Stoneforge Mystic</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Scars of Mirrodin</strong> – <strong>Innistrad</strong><br/>(Oct ‘11 to Oct ‘12)</td>
            <td><a href="https://scryfall.com/sets/m12">
                <img src="{% static 'eve/icons/M12.png' %}" alt="M12" width="21" height="21"/> M12</a><br/><em>and</em><br/><a
                    href="https://scryfall.com/sets/m13">
                <img src="{% static 'eve/icons/M13.png' %}" alt="M13" width="21" height="21"/> M13
            </a></td>
            <td><a href="https://scryfall.com/sets/som">
                <img src="{% static 'eve/icons/SOM.png' %}" alt="SOM" width="21" height="21"/> Scars of Mirrodin
            </a>
                <br/>
                <a href="https://scryfall.com/sets/mbs">
                    <img src="{% static 'eve/icons/MBS.png' %}" alt="MBS" width="21" height="21"/> Mirrodin Besieged
                </a>
                <br/>
                <a href="https://scryfall.com/sets/nph">
                    <img src="{% static 'eve/icons/NPH.png' %}" alt="NPH" width="21" height="21"/> New Phyrexia
                </a>
                <br/>
                <a href="https://scryfall.com/sets/isd">
                    <img src="{% static 'eve/icons/ISD.png' %}" alt="ISD" width="21" height="21"/> Innistrad
                </a>
                <br/>
                <a href="https://scryfall.com/sets/dka">
                    <img src="{% static 'eve/icons/DKA.png' %}" alt="DKA" width="21" height="21"/> Dark Ascension
                </a>
                <br/>
                <a href="https://scryfall.com/sets/avr">
                    <img src="{% static 'eve/icons/AVR.png' %}" alt="AVR" width="21" height="21"/> Avacyn Restored
                </a></td>
            <td>—</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Innistrad</strong> – <strong>Return to Ravnica</strong><br/>(Nov ‘12 to Sep ‘13)</td>
            <td><a href="https://scryfall.com/sets/m13">
                <img src="{% static 'eve/icons/M13.png' %}" alt="M13" width="21" height="21"/> M13
            </a><br/><em>and</em><br/><a href="https://scryfall.com/sets/m14">
                <img src="{% static 'eve/icons/M14.png' %}" alt="M14" width="21" height="21"/> M14
            </a></td>
            <td><a href="https://scryfall.com/sets/isd">
                <img src="{% static 'eve/icons/ISD.png' %}" alt="ISD" width="21" height="21"/> Innistrad
            </a>
                <br/>
                <a href="https://scryfall.com/sets/dka">
                    <img src="{% static 'eve/icons/DKA.png' %}" alt="DKA" width="21" height="21"/> Dark Ascension
                </a>
                <br/>
                <a href="https://scryfall.com/sets/avr">
                    <img src="{% static 'eve/icons/AVR.png' %}" alt="AVR" width="21" height="21"/> Avacyn Restored
                </a>
                <br/>
                <a href="https://scryfall.com/sets/rtr">
                    <img src="{% static 'eve/icons/RTR.png' %}" alt="RTR" width="21" height="21"/> Return to Ravnica
                </a>
                <br/>
                <a href="https://scryfall.com/sets/gtc">
                    <img src="{% static 'eve/icons/GTC.png' %}" alt="GTC" width="21" height="21"/> Gatecrash
                </a>
                <br/>
                <a href="https://scryfall.com/sets/dgm">
                    <img src="{% static 'eve/icons/DGM.png' %}" alt="DGM" width="21" height="21"/> Dragon’s Maze
                </a></td>
            <td>—</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Return to Ravnica</strong> – <strong>Theros</strong><br/>(Oct ‘13 to Sep ‘14)</td>
            <td><a href="https://scryfall.com/sets/m14">
                <img src="{% static 'eve/icons/M14.png' %}" alt="M14" width="21" height="21"/> M14
            </a><br/><em>and</em><br/><a href="https://scryfall.com/sets/m15">
                <img src="{% static 'eve/icons/M15.png' %}" alt="M15" width="21" height="21"/> M15
            </a></td>
            <td><a href="https://scryfall.com/sets/rtr">
                <img src="{% static 'eve/icons/RTR.png' %}" alt="RTR" width="21" height="21"/> Return to Ravnica
            </a>
                <br/>
                <a href="https://scryfall.com/sets/gtc">
                    <img src="{% static 'eve/icons/GTC.png' %}" alt="GTC" width="21" height="21"/> Gatecrash
                </a>
                <br/>
                <a href="https://scryfall.com/sets/dgm">
                    <img src="{% static 'eve/icons/DGM.png' %}" alt="DGM" width="21" height="21"/> Dragon’s Maze
                </a>
                <br/>
                <a href="https://scryfall.com/sets/ths">
                    <img src="{% static 'eve/icons/THS.png' %}" alt="THS" width="21" height="21"/> Theros
                </a>
                <br/>
                <a href="https://scryfall.com/sets/bng">
                    <img src="{% static 'eve/icons/BNG.png' %}" alt="BNG" width="21" height="21"/> Born of the Gods
                </a>
                <br/>
                <a href="https://scryfall.com/sets/jou">
                    <img src="{% static 'eve/icons/JOU.png' %}" alt="JOU" width="21" height="21"/> Journey Into Nyx
                </a><br/></td>
            <td>—</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Theros</strong> – <strong>Khans of Tarkir</strong><br/>(Oct ‘14 to Oct ‘15)</td>
            <td><a href="https://scryfall.com/sets/m15">
                <img src="{% static 'eve/icons/M15.png' %}" alt="M15" width="21" height="21"/> M15
            </a><br/><em>and</em><br/><a href="https://scryfall.com/sets/ori">
                <img src="{% static 'eve/icons/ORI.png' %}" alt="ORI" width="21" height="21"/> Magic Origins
            </a></td>
            <td><a href="https://scryfall.com/sets/ths">
                <img src="{% static 'eve/icons/THS.png' %}" alt="THS" width="21" height="21"/> Theros
            </a>
                <br/>
                <a href="https://scryfall.com/sets/bng">
                    <img src="{% static 'eve/icons/BNG.png' %}" alt="BNG" width="21" height="21"/> Born of the Gods
                </a>
                <br/>
                <a href="https://scryfall.com/sets/jou">
                    <img src="{% static 'eve/icons/JOU.png' %}" alt="JOU" width="21" height="21"/> Journey Into Nyx
                </a>
                <br/>
                <a href="https://scryfall.com/sets/ktk">
                    <img src="{% static 'eve/icons/KTK.png' %}" alt="KTK" width="21" height="21"/> Khans of Tarkir
                </a>
                <br/>
                <a href="https://scryfall.com/sets/frf">
                    <img src="{% static 'eve/icons/FRF.png' %}" alt="FRF" width="21" height="21"/> Fate Reforged
                </a>
                <br/>
                <a href="https://scryfall.com/sets/dtk">
                    <img src="{% static 'eve/icons/DTK.png' %}" alt="DTK" width="21" height="21"/> Dragons of Tarkir
                </a></td>
            <td>—</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Khans of Tarkir</strong> – <strong>Battle for Zendikar</strong><br/>(Oct ‘15 to Apr ‘16)</td>
            <td><a href="https://scryfall.com/sets/ori">
                <img src="{% static 'eve/icons/ORI.png' %}" alt="ORI" width="21" height="21"/> Magic Origins
            </a></td>
            <td><a href="https://scryfall.com/sets/ktk">
                <img src="{% static 'eve/icons/KTK.png' %}" alt="KTK" width="21" height="21"/> Khans of Tarkir
            </a>
                <br/>
                <a href="https://scryfall.com/sets/frf">
                    <img src="{% static 'eve/icons/FRF.png' %}" alt="FRF" width="21" height="21"/> Fate Reforged
                </a>
                <br/>
                <a href="https://scryfall.com/sets/dtk">
                    <img src="{% static 'eve/icons/DTK.png' %}" alt="DTK" width="21" height="21"/> Dragons of Tarkir
                </a>
                <br/>
                <a href="https://scryfall.com/sets/bfz">
                    <img src="{% static 'eve/icons/BFZ.png' %}" alt="BFZ" width="21" height="21"/> Battle For Zendikar
                </a>
                <br/>
                <a href="https://scryfall.com/sets/ogw">
                    <img src="{% static 'eve/icons/OGW.png' %}" alt="OGW" width="21" height="21"/> Oath of the Gatewatch
                </a></td>
            <td>—</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Battle for Zendikar</strong> – <strong>Shadows over Innistrad</strong><br/>(Mar ‘16 to Sep ‘16)</td>
            <td><a href="https://scryfall.com/sets/ori">
                <img src="{% static 'eve/icons/ORI.png' %}" alt="ORI" width="21" height="21"/> Magic Origins
            </a></td>
            <td><a href="https://scryfall.com/sets/dtk">
                <img src="{% static 'eve/icons/DTK.png' %}" alt="DTK" width="21" height="21"/> Dragons of Tarkir
            </a>
                <br/>
                <a href="https://scryfall.com/sets/bfz">
                    <img src="{% static 'eve/icons/BFZ.png' %}" alt="BFZ" width="21" height="21"/> Battle For Zendikar
                </a>
                <br/>
                <a href="https://scryfall.com/sets/ogw">
                    <img src="{% static 'eve/icons/OGW.png' %}" alt="OGW" width="21" height="21"/> Oath of the Gatewatch
                </a>
                <br/>
                <a href="https://scryfall.com/sets/soi">
                    <img src="{% static 'eve/icons/SOI.png' %}" alt="SOI" width="21" height="21"/> Shadows Over Innistrad
                </a>
                <br/>
                <a href="https://scryfall.com/sets/emn">
                    <img src="{% static 'eve/icons/EMN.png' %}" alt="EMN" width="21" height="21"/> Eldritch Moon
                </a></td>
            <td>—</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Shadows over Innistrad</strong> – <strong>Kaladesh</strong><br/>(Oct ‘16 to Sep ‘17)</td>
            <td>—</td>
            <td><a href="https://scryfall.com/sets/bfz">
                <img src="{% static 'eve/icons/BFZ.png' %}" alt="BFZ" width="21" height="21"/> Battle For Zendikar
            </a>
                <br/>
                <a href="https://scryfall.com/sets/ogw">
                    <img src="{% static 'eve/icons/OGW.png' %}" alt="OGW" width="21" height="21"/> Oath of the Gatewatch
                </a>
                <br/>
                <a href="https://scryfall.com/sets/soi">
                    <img src="{% static 'eve/icons/SOI.png' %}" alt="SOI" width="21" height="21"/> Shadows Over Innistrad
                </a>
                <br/>
                <a href="https://scryfall.com/sets/emn">
                    <img src="{% static 'eve/icons/EMN.png' %}" alt="EMN" width="21" height="21"/> Eldritch Moon
                </a>
                <br/>
                <a href="https://scryfall.com/sets/kld">
                    <img src="{% static 'eve/icons/KLD.png' %}" alt="KLD" width="21" height="21"/> Kaladesh
                </a>
                <br/>
                <a href="https://scryfall.com/sets/aer">
                    <img src="{% static 'eve/icons/AER.png' %}" alt="AER" width="21" height="21"/> Aether Revolt
                </a>
                <br/>
                <a href="https://scryfall.com/sets/akh">
                    <img src="{% static 'eve/icons/AKH.png' %}" alt="AKH" width="21" height="21"/> Amonkhet
                </a>
                <br/>
                <a href="https://scryfall.com/sets/hou">
                    <img src="{% static 'eve/icons/HOU.png' %}" alt="HOU" width="21" height="21"/> Hour of Devastation
                </a></td>
            <td>Aetherworks Marvel<br/>Emrakul, the Promised End<br/>Felidar Guardian<br/>Reflector Mage<br/>Smuggler’s Copter</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Kaladesh</strong> – <strong>Amonkhet</strong><br/>(Oct ‘17 to Oct ‘18)</td>
            <td><a href="https://scryfall.com/sets/m19">
                <img src="{% static 'eve/icons/M19.png' %}" alt="M19" width="21" height="21"/> Core Set 2019
            </a></td>
            <td><a href="https://scryfall.com/sets/kld">
                <img src="{% static 'eve/icons/KLD.png' %}" alt="KLD" width="21" height="21"/> Kaladesh
            </a>
                <br/>
                <a href="https://scryfall.com/sets/aer">
                    <img src="{% static 'eve/icons/AER.png' %}" alt="AER" width="21" height="21"/> Aether Revolt
                </a>
                <br/>
                <a href="https://scryfall.com/sets/akh">
                    <img src="{% static 'eve/icons/AKH.png' %}" alt="AKH" width="21" height="21"/> Amonkhet
                </a>
                <br/>
                <a href="https://scryfall.com/sets/hou">
                    <img src="{% static 'eve/icons/HOU.png' %}" alt="HOU" width="21" height="21"/> Hour of Devastation
                </a>
                <br/>
                <a href="https://scryfall.com/sets/xln">
                    <img src="{% static 'eve/icons/XLN.png' %}" alt="XLN" width="21" height="21"/> Ixalan
                </a>
                <br/>
                <a href="https://scryfall.com/sets/rix">
                    <img src="{% static 'eve/icons/RIX.png' %}" alt="RIX" width="21" height="21"/> Rivals of Ixalan
                </a>
                <br/>
                <a href="https://scryfall.com/sets/dom">
                    <img src="{% static 'eve/icons/DOM.png' %}" alt="DOM" width="21" height="21"/> Dominaria
                </a></td>
            <td>Attune with Aether<br/>Aetherworks Marvel<br/>Felidar Guardian<br/>Rampaging Ferocidon<br/>Ramunap Ruins<br/>Rogue Refiner<br/>Smuggler’s Copter
            </td>s fin
            <td></td>
        </tr>
        <tr>
            <td><strong>Amonkhet</strong> – <strong>Ixalan</strong><br/>(Nov ‘18 to Oct ‘19)</td>
            <td><a href="https://scryfall.com/sets/m19">
                <img src="{% static 'eve/icons/M19.png' %}" alt="M19" width="21" height="21"/> Core Set 2019
            </a><br/><em>and</em><br/><a href="https://scryfall.com/sets/m20">
                <img src="{% static 'eve/icons/M20.png' %}" alt="M20" width="21" height="21"/> Core Set 2020
            </a></td>
            <td><a href="https://scryfall.com/sets/xln">
                <img src="{% static 'eve/icons/XLN.png' %}" alt="XLN" width="21" height="21"/> Ixalan
            </a>
                <br/>
                <a href="https://scryfall.com/sets/rix">
                    <img src="{% static 'eve/icons/RIX.png' %}" alt="RIX" width="21" height="21"/> Rivals of Ixalan
                </a>
                <br/>
                <a href="https://scryfall.com/sets/dom">
                    <img src="{% static 'eve/icons/DOM.png' %}" alt="DOM" width="21" height="21"/> Dominaria
                </a>
                <br/>
                <a href="https://scryfall.com/sets/grn">
                    <img src="{% static 'eve/icons/GRN.png' %}" alt="GRN" width="21" height="21"/> Guilds of Ravnica
                </a>
                <br/>
                <a href="https://scryfall.com/sets/rna">
                    <img src="{% static 'eve/icons/RNA.png' %}" alt="RNA" width="21" height="21"/> Ravnica Allegiance
                </a>
                <br/>
                <a href="https://scryfall.com/sets/war">
                    <img src="{% static 'eve/icons/WAR.png' %}" alt="WAR" width="21" height="21"/> War of the Spark
                </a></td>
            <td>Attune with Aether<br/>Ramunap Ruins<br/>Rogue Refiner</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <h3 id="core-sets">Core sets</h3>

    <p>Up to 10th edition, there were sometimes two Core Sets available for a block of expansions. There, you have to chose one, not both.
        There are some edge-case scenarios which were impossible to play at the time (5th edition + Urza’s Destiny, as 6th edition came before Urza’s Destiny),
        but those were merged together for simplicity sake.</p>

    <p>Starting from M10, it was often possible to use cards from two core sets at the time. In that case you can use any card that was printed in either.</p>

    <h3 id="rules-used">Rules used</h3>

    <p>By default, games of EVE are played by latest Magic: The Gathering rules. If both players are using decks from blocks no newer than “Time Spiral –
        Lorwyn/Shadowmoor + 10th Edition”, they are encouraged to play by 6th Edition rules.</p>

    <p>Highlight changes of that is a) there is still mana burn, b) damage goes to stack and c) when a creature is blocked by multiple blockers, it assigns it’s
        combat damage, rather than declaring order of blockers.</p>

    <p>The most recent Legendaries and Mulligan rules are always used.</p>

    <h3 id="fullpaint-rule">Fullpaint rule</h3>

    <p>To encourage playing the decks “as they were”, any player that has all his cards (including basic lands) in a print that is not newer than the set /
        block the player chose to play, he or she gets a free “Scry 1” at the start of the game.</p>

    <p>So, for example, if you play <strong>Tempest</strong> – <strong>Urza</strong> + <strong>5th edition</strong> and you want to get this bonus, you cannot
        play a Wasteland from any other edition than Tempest, nor basic lands from Mercadian Masques or 6th edition or newer, etc.</p>

{% endblock %}
